:root {
    /*--primary-color: #cb11ab;*/ /*Главный цвет ссылок и главных кнопок*/
    --primary-color: #2067b0; /*Главный цвет ссылок и главных кнопок*/

    --bg-gray: #f3f3f3; /*Главный цвет ссылок и главных кнопок*/
    /*--bg-color: #e7e7e7;*/
    --bg-color: #eef2f4;
    --bg-color-light: #eef2f494;

    --bg-block-color: white;
    --bg-block-header-color: #f9f9f9;

    --border-radius: 1rem; /*Главный цвет ссылок и главных кнопок*/

    --color-gray: #a1a1a1;
    --color-light-gray: #a1a1a1;
    --color-red: red;
    --color-red-pale: #ffa0a0;
}

html {
    font-size: 14px;
}

body {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    background-color: var(--bg-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    text-decoration: none;
}

.select2-container--krajee-bs3 .select2-selection {
    box-shadow: none;
}

.h1, h1 {
    font-size: 1.8rem;
}


.btn-default {
    /*background: #efefef;*/
    background: transparent !important;
    color: #262626;
    border: 1px solid #C2C2C2;
}

.sx-bg-secondary {
    background: var(--bg-block-color);
}


.dropdown-menu li {
    padding: 5px 10px;
    color: #333;
}

.dropdown-menu li a {
    color: #333;
}

.dropdown-menu li:hover {
    background: #f5f5f5;
}

/**
 * Главная верстка шаблона
 */
.sx-main-wrapper {
    overflow: hidden;
    position: relative;
}

.nav-link {
    color: #333;
}

.sx-main-col .tab-content {
    padding-top: 10px;
}

.sx-main-page-nav {
    margin-bottom: 1rem;
    background: var(--bg-block-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.sx-main-col .sx-grid-view {
    font-size: 12px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 1rem;
    background: var(--bg-block-color);
}

.sx-grid-view .sx-main-info {
    font-size: 15px;
}


/**
 * Fancybox rewrite
 */
.sx-fancy-container .fancybox-is-open .fancybox-bg {
    opacity: 0.7;
}

.sx-fancy-container .fancybox-slide--iframe {
    padding: 0;
}

.sx-fancy-container .fancybox-slide--iframe .fancybox-content {
    max-width: 1300px;
    min-width: 500px;
    width: calc(100% - 10px) !important;
    overflow: hidden;
    margin: 0;
    max-height: 100%;
    float: right;
    background: transparent;
}


/*Маленький размер окна*/
.sx-fancy-container.sx-fancy-size-small .fancybox-slide--iframe .fancybox-content {
    max-width: 500px;
}

.sx-fancy-container .fancybox-slide--iframe .fancybox-iframe {
    left: 41px;
    width: calc(100% - 41px);
    background: white;
    box-shadow: -10px 0 15px -5px rgb(0 0 0 / 10%);
}

.sx-fancy-container.fancybox-is-open .fancybox-bg {
    opacity: 0.2;
}

@media (max-width: 768px) {
    .sx-fancy-container .fancybox-slide--iframe .fancybox-content {
        max-width: calc(100% - 20px);
    }

}

.sx-fancy-container .fancybox-fx-slide-in-out.fancybox-slide--previous {
    transform: translateX(100%);
}

.sx-fancy-container .fancybox-fx-slide-in-out.fancybox-slide--next {
    transform: translateX(100%);
}

.sx-fancy-container .fancybox-fx-slide-in-out.fancybox-slide--current {
    transform: translateX(0);
}

.sx-fancy-container .fancybox-slide--iframe .fancybox-close-small {
    left: 0px;
    top: 0;

    /*background: #000000a8;
    background: white;*/
    background: var(--bg-color);

    color: black;
    opacity: 1;
    outline: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.sx-fancy-container .fancybox-slide--iframe .fancybox-close-small:after {
    color: black;
}

.sx-fancy-container .fancybox-slide--iframe .fancybox-close-small:hover {
    color: black;
}

.sx-fancy-container .fancybox-slide--iframe .fancybox-close-small:hover:after {
    color: black;
}

/**
 * Минималистичное окно
 */
.sx-empty .sx-hide-on-empty,
.sx-empty #footer {
    display: none;
}

.sx-empty main {
    padding-top: 0px !important;
}

.sx-empty .sx-main-col {
    padding-bottom: 0px !important;
}

/**
 * Починка CKEditor
 */
.cke_reset [aria-labelledby],
.cke_reset[aria-labelledby],
.cke_reset_all[aria-labelledby],
.cke_reset_all [aria-labelledby] {
    opacity: inherit;
}

[aria-labelledby] {
    opacity: inherit;
}


/**
 * Кастомизация select2
 */
.select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection, .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown {
    border-color: #ced4da;
    box-shadow: none;
}

.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
    box-shadow: none;
}

.select2-container--krajee .select2-dropdown {
    box-shadow: none;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border: 0px;
}

.select2-container--krajee-bs4 .select2-results__option {
}

.select2-container--krajee-bs4 .select2-results__option.select2-results__option--selected, .select2-container--krajee-bs4 .select2-results__option[aria-selected=true] {
    color: white;
    background-color: #0c41ab;

}

.select2-container--krajee-bs4 .select2-results__option:hover {
    color: white;
    background-color: #0c41ab;
}

.select2-container .select2-selection--single {
    /*display: flex;*/
    box-shadow: none;
}

.select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {
    /*margin: auto 5px;*/
}

.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    border-left: 0;
}

/**
 * multi select 2
 */
.select2-container--krajee .select2-selection {
    box-shadow: none;
}


/**
 * Оформление футера
 */
#footer a {
    color: #53585e !important;
}

.u-footer--bottom-sticky {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: margin-left .3s ease-in;
    -o-transition: margin-left .3s ease-in;
    transition: margin-left .3s ease-in;
    border-color: #e1eaea !important;
    color: #53585e !important;
    padding: 1rem;
    /*background: white;*/
}


/**
 * Неразобранные стили
 */

.sx-grid-view .sx-before-table, .sx-grid-view .sx-after-table {
    background: #f9f9f9;
}

table.sx-table thead tr th a.asc, table.sx-table thead tr th a.desc {
    color: var(--primary-color)
}

table.sx-table thead tr th {
    background: #f9f9f9;
}

table.sx-table > tbody > tr:hover > td {
    background-color: #f9f9f9;
}


.sx-backend-showing-tabs.nav-tabs .nav-item,
.sx-nav-model.nav-tabs .nav-item {
    margin-bottom: 0;
}

.sx-backend-showing-tabs.nav-tabs > li > a,
.sx-nav-model.nav-tabs > li > a {
    background: transparent;
    border: 1px solid transparent;
}

.sx-backend-showing-tabs.nav-tabs > li > a:hover,
.sx-nav-model.nav-tabs > li > a:hover {
    background: transparent;
    border: 1px solid var(--bg-block-color);
}

.sx-backend-showing-tabs.nav-tabs .nav-link.active,
.sx-nav-model.nav-tabs .nav-link.active {
    background: var(--bg-block-color);
    border-color: var(--bg-block-color);
}

.sx-nav-model.nav-tabs .nav-link.active {
    color: var(--primary-color);
    border-bottom: 1px solid;
    /*margin-top: -1px;*/
}

.sx-backend-showing-tabs.nav-tabs > li > a
    /*.sx-nav-model.nav-tabs > li > a*/
{
    border-radius: var(--border-radius);
}

.sx-backend-showing-tabs .nav-item img {
    max-height: 19px;
}

.sx-backend-showing-tabs .nav-item,
.sx-nav-model .nav-item {
    margin-right: 0.5rem;
}


.sx-backend-showing-tabs {
    border: none;
}

form.sx-form-admin .form-group {
    padding: 10px 15px;
    margin-bottom: 0px;
}

/*form.sx-form-admin .form-group:hover {
    background: #e6ecec;
}*/
.sx-backend-form .control-label {
    font-size: 0.85rem;
    color: var(--color-gray);
    margin-bottom: 0.2rem;
    font-weight: normal;
}

.form-control:focus {
    box-shadow: none;
    /*border-color: #dedede;*/
}

.select2-container--krajee-bs3 .select2-dropdown {
    /*border-color: #dedede;*/
}

.select2-container--krajee-bs3.select2-container--open .select2-selection, .select2-container--krajee-bs3 .select2-selection:focus {
    box-shadow: none;
    /*border-color: #dedede;*/
}

form.sx-form-admin {
    border: 0px;
    padding: 0px;
}

form.sx-form-admin .tab-content {
    background: #f5f9f9;
    padding: 0px;
    border: 0px;
}

.nav-tabs.sx-mgr-6 .nav-item {
    margin-right: 6px;
}

.sx-nav-model {
    white-space: nowrap;
    flex-wrap: initial;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 0;

    background: var(--bg-block-color);
    border-radius: var(--border-radius);
    /*white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: initial;*/
}

.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -10px;
    margin: 0 0px;
    height: 15px;
}

.sx-nav-model-wrapper .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 6px;
}

.sx-nav-model-wrapper .nav-tabs {
    display: inline-flex;
    width: 100%;
}

/**
 * Переопределение стилей таблиц
 */

.sx-table hr {
    margin: 0;
}

/**
 * Показывать контект после того как готов dom
 */
.sx-main-col {
    display: none;
    padding-bottom: 65px;
}

/**
 * Переопределение контекстного меню
 */
.context-menu-item.context-menu-hover {
    background-color: var(--primary-color);
    color: #FFF;
    cursor: pointer;
}

/**
 * Фильтры в админке
 */
.sx-backend-filters-form {
    border: 0;
}

.sx-backend-filters-form .form-group {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sx-backend-filters-form .col-form-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-weight: bold;
}

/*.sx-backend-filters-form .form-group:hover {
    background: #e6ecec;
}*/

/**
 * Form
 */

.control-label {
    font-weight: bold;
}


/**
 * Уведомления alert
 */

.alert p {
    margin-bottom: 0;
}

.alert-default {
    color: #53585e;
    background-color: var(--bg-block-color);
    border-color: var(--bg-block-color);
}

.alert-info {
    color: white;
    background-color: #1cc9e4;
    border-color: #1cc9e4;
}

/**
 * placeholders
 */
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: silver;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: silver;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color: silver;
}

.form-control { /* Firefox 18- */
    height: auto;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: silver;
}

.chosen-default > span {
    color: silver;
}

.error-summary {
    color: white;
    background: var(--color-red-pale);
    border-radius: var(--border-radius);
}

.error-summary ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
}

.comment .author {
    font-weight: normal;
}

.u-btn-green {
    color: #fff;
    background-color: green;
}

.comment .avatar img, .comment-form .avatar img, .sub-comments .avatar img, .sub-comments .comment-form .avatar img {
    border: 0;
    background: #f6f8f9;
    border-radius: 50%;
}

.u-side-nav-mini .sx-left-block-workers {
    display: none;
}

.sx-left-block-workers-list {
    font-size: 12px;
}

.sx-left-block-workers .sx-show-workers {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-left-block-workers .sx-show-workers:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-left-block-workers .sx-left-block-workers-list-hide {
    display: none;
}

.u-side-nav-mini .sx-schedule-left-block {
    display: none;
}

.sx-schedule-left-block .sx-total-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-schedule-left-block .sx-total-link:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-schedule-left-block .error-summary {
    color: red;
}

.sx-schedule-left-block .sx-schedule-times {
    line-height: 12px;
    display: none;
}

.sx-fa-play {
    color: green;
}

.sx-fa-stop {
    color: #e62154;
}

.sx-fa-pause {
    color: orange;
}

/**
 * Превью карточка общая
 */
.sx-preview-card img.sx-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
}

.sx-preview-card img.sx-photo.sx-img-size-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.sx-preview-card img.sx-photo.sx-img-size-small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
}

.sx-preview-card .sx-no-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: white;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid var(--bg-gray);
}

.sx-preview-card .sx-no-photo.sx-img-size-50 {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

/**
 * Превью карточка сотрудника
 */
.sx-worker-card img.sx-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
}

.sx-worker-card img.sx-photo.sx-img-size-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/**
 * Оформление карточки задачи
 */
/*.sx-task-description {
    max-height: 600px;
    overflow: auto;
    margin-bottom: 10px;
}*/

/**
 *
 */


.g-bg-in-work {
    background-color: #bbf3bb !important;
}

.sx-icon-wrapper {
    width: 17px;
    /* min-width: 20px; */
    display: inline-block;
    text-align: center;
}

.u-side-nav--has-sub-menu ul {
    display: none;
}

.u-side-nav--has-sub-menu ul li a {
    /*line-height: 15px;*/
    white-space: nowrap;
    overflow: hidden;
}

.u-side-nav--third-level-menu {
    padding-left: 1.5rem;
}


form .error-summary {
    margin-top: 10px;
    padding: 1rem;
}

/*form .error-summary {
    background: #ffe7e7;
    margin-top: 10px;
    padding: 10px;
}

form .error-summary p {
    color: red;
}*/

form .has-error .help-block {
    color: red;
}

form .sx-from-required {
    color: red;
}

/**
 * Оформление комментариев
 */
.comment .comment-text, .comment-form-reply {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.comment-form .comment-fields-more {
    margin-top: 10px;
}


.dropdown-toggle::after {
    content: "\e90d";
    font-family: 'hs-admin-icons' !important;
    position: relative;
    top: 0.21429rem;
    font-size: 10px;
    display: inline;
    border: none;
    margin-left: 0.5rem;
}


.sx-bg-primary {
    background: #f5f9f9;
}

.sx-form-tab-panel .nav-tabs .nav-link.active {
    background: #f5f9f9;
}


iframe {
    border: 0;
}

.u-header__section--admin-dark .u-header-logo-toggler {
    background: transparent;
}

/*.blockUI img {
    margin-left: -40%;
}*/


/*.btn {
    padding: 10px 25px;
}*/
.btn {
    /*padding: .575rem 2rem;*/
    border-radius: var(--border-radius);
}

.btn:visited,
.btn:active,
.btn:focus {
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--primary-color);
}


.btn-primary:hover, .btn-secondary:hover,
.btn-primary:active, .btn-secondary:active,
.btn-primary:focus, .btn-secondary:focus {
    color: white;
}

.btn-xs {
    line-height: 1.4;
    padding: 0.14286rem 0.5rem;
    font-size: 0.78571rem;
}


.sx-btn-backend-header a:hover {
    color: white;
}

.sx-header-user-profile [data-dropdown-target] {
    color: #8294b9;
    /* opacity: 0.5; */
}

.sx-header-user-profile a .sx-avatar {
    opacity: 0.8;
}

.sx-header-user-profile a:hover .sx-avatar {
    opacity: 1;
}

.u-header__section--admin-dark [aria-labelledby] a:hover {
    color: white;
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.sx-progress-bar-wrapper {
    height: 12px;
}


.sx-content-wrapper, .sx-breadcrumbs-wrapper {
    padding: 10px 15px;
}

/**
 * Стандартный серый фон
 */
.sx-bg-gray-light {
    background-color: #f5f9f9;
}


.select2-container--krajee-bs4 .select2-selection__clear {
    line-height: normal;
}

.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice__remove {
    font-size: inherit;
    line-height: normal;
}

.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice {
    padding: 0.05rem 0.25rem 0.05rem 0.25rem;
}


.sx-shadow--hover:hover {
    box-shadow: 1px 1px 6px -2px silver;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.sx-main-wrapper {
    min-height: calc(100vh - 65px);
}

.sx-main {
    padding-top: 65px;
}

.u-side-nav--control-icon {
    font-size: 10px;
    opacity: 0.5;
}

.u-side-nav--top-level-menu {
    margin-bottom: 0;
}

.u-side-nav--top-level-menu-link {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.u-side-nav--top-level-menu-icon {
    margin-right: 15px;
    font-size: 20px;
}

.u-side-nav--top-level-menu-icon img {
    width: 20px;
}


@media (max-width: 993px) {
    /*.sx-main-col {
        margin-left: 50px;
    }*/
    .sx-content-wrapper, .sx-breadcrumbs-wrapper {
        padding: 5px;
    }

    .sx-main-col .sx-grid-view {
        font-size: 9px;
    }

    .table td, .table th {
        padding: 3px;
    }

    .sx-main {
        padding-top: 0px;
    }

    .sx-backend-form .sx-inline-row label {
        font-size: 14px;
    }

    /*.sx-main-col .tab-content {
        padding-top: 0px;
    }*/
    .sx-nav-model {
        font-size: 13px;
    }
}

/*.sx-empty {
    background: white;
}*/
.sx-empty .sx-container {
    max-width: 100%;
}


.sx-block {
    padding: 1rem;
}

.sx-block p:last-child {
    margin-bottom: 0;
}


/**
 * Последние правки
 */
.alert, .sx-block {
    /*box-shadow: 0px 3px 8px rgb(196 196 196 / 64%);*/
    box-shadow: none;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    background: var(--bg-block-color);
}

.sx-backend-filters-wrapper {
    border-radius: var(--border-radius);
}

.alert-default {
    color: #262626;
}

.sx-form-fieldset {
    /*box-shadow: 0px 3px 8px rgb(196 196 196 / 64%);*/
    margin-bottom: 0;
    overflow-x: hidden;
}

.sx-form-fieldset-content {
    border: 0;
}

.sx-form-fieldset-title {
    color: #333;
    /*text-shadow: 0 1px #fff;*/
    font-size: 16px;
    background: var(--bg-block-header-color);
}

form .sx-field-set-hidden .sx-form-fieldset-title {
    border-bottom: 1px solid var(--bg-color);
}

form.sx-backend-form {
    background: var(--bg-block-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.form-control {
    border-color: #dedede;
    padding: 8px 10px;
}


@keyframes loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.blockOverlay {
    background: linear-gradient(100deg, #dfdfdf78 30%, #f6f7f870 50%, #eceff182 70%);
    /*color: transparent;*/
    background-color: transparent !important;
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
    opacity: 1 !important;
}


.sx-content-actions .nav-link.active {
    color: var(--primary-color);
    border-bottom: 1px solid;
    margin-top: -1px;
}


/**
 * Современное оформление свойств
 */
.sx-properties-wrapper.sx-columns-1 ul.sx-properties {
    -moz-column-count: 1;
    column-count: 1;
}

.sx-properties-wrapper.sx-columns-2 ul.sx-properties {
    -moz-column-count: 2;
    column-count: 2;
}

.sx-properties-wrapper.sx-columns-3 ul.sx-properties {
    -moz-column-count: 3;
    column-count: 3;
}

ul.sx-properties {
    -moz-column-count: 2;
    column-count: 2;
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    margin: 0px;
    padding: 0px;
}

ul.sx-properties li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

ul.sx-properties .sx-properties--value {
    text-align: right;
    max-width: 19rem;
    line-height: 1.4;
}

ul.sx-properties .sx-properties--name {
    color: gray;
    flex: 1;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

ul.sx-properties .sx-properties--name:after {
    content: "";
    flex-grow: 1;
    opacity: .25;
    margin: 0 6px 0 2px;
    border-bottom: 1px dotted gray;
}


.sx-bage-notifies {
    background: var(--color-red);
    font-size: 0.7rem;
    top: 0.9rem;
    border-radius: 50%;
    right: 0.9rem;
    transform: translate(50%, -50%);
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: white;
    text-align: center;
    z-index: 1;
}


/**
 * Кастомизация jGrowl
 */
div.jGrowl.center {
    top: 5rem;
    left: 42%;
}
.jGrowl-message>img {
    display: none;
}
.jGrowl-message {
    display: flex;
}

div.jGrowl div.jGrowl-notification {
    min-height: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    width: 23rem;
}

div.jGrowl-notification.ui-state-highlight {
    border: 1px solid var(--primary-color);
    background: white !important;
    color: #363636;
}