
.h1, h1 {
    font-size: 1.8rem;
}

a:hover {
    text-decoration: none;
}

.sx-bg-secondary {
    background: #f9f9f9;
}

.sx-main-col .tab-content {
    padding-top: 10px;
    /*border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;
    border-color: #eee #eee #eee;*/
}

.sx-main-page-nav {
    margin-bottom: 10px;
}

.sx-main-col .sx-grid-view {
    font-size: 12px;
}

/*.sx-backend-filters-wrapper {
    background: #f5f9f9;
}*/

/*.sx-grid-view .sx-before-table {
    background: #f5f9f9;
}*/

.sx-grid-view .sx-before-table, .sx-grid-view .sx-after-table
{
    background: #f9f9f9;
}

table.sx-table thead tr th {
    background: #f9f9f9;
}

table.sx-table > tbody > tr:hover > td
{
    background-color: #f9f9f9;
}

.sx-backend-showing-tabs.nav-tabs > li > a {
    background: #f9f9f9;
    border: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.sx-backend-showing-tabs .nav-item {
    margin-right: 5px;
}

form.sx-form-admin .form-group {
    padding: 10px 15px;
    margin-bottom: 0px;
}

form.sx-form-admin .form-group:hover {
    background: #e6ecec;
}

form.sx-form-admin {
    border: 0px;
    padding: 0px;
}

form.sx-form-admin .tab-content {
    background: #f5f9f9;
    padding: 0px;
    border: 0px;
}

.nav-tabs.sx-nav-with-bg > li > a {
    background: #f9f9f9;
    border: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.nav-tabs.sx-mgr-6 .nav-item {
    margin-right: 6px;
}

.sx-nav-model {
    white-space: nowrap;
    flex-wrap: initial;
    /*white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: initial;*/
}
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.sx-nav-model-wrapper .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -10px;
    margin: 0 0px;
    height: 15px;
}
.sx-nav-model-wrapper .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 6px;
}
/**
 * Переопределение стилей таблиц
 */
/*table.sx-table > tbody > tr:hover > td, table.sx-table > tbody > tr:nth-of-type(odd):hover > td {
    background-color: #e6ecec !important;
}*/

.sx-table hr {
    margin: 0;
}

.sx-table a.btn {
    border-bottom: 0;
}

.sx-table a {
    border-bottom: 1px solid;
}

.sx-table a:hover {
    text-decoration: none;
}

/**
 * Показывать контект после того как готов dom
 */
.sx-main-col {
    display: none;
}

/**
 * Переопределение контекстного меню
 */
.context-menu-item.context-menu-hover {
    background-color: #e62154;
    color: #FFF;
    cursor: pointer;
}

/**
 * Фильтры в админке
 */
.sx-backend-filters-form {
    border: 0;
}

.sx-backend-filters-form .form-group {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sx-backend-filters-form .col-form-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-weight: bold;
}

/*.sx-backend-filters-form .form-group:hover {
    background: #e6ecec;
}*/

/**
 * Form
 */

.control-label {
    font-weight: bold;
}

/**
 * Form
 */

.u-sidebar-navigation--light .sx-menu-link-pink {
    background: #e62154;
    color: white;
}

.u-sidebar-navigation--light .sx-menu-link-pink:hover i,
.u-sidebar-navigation--light .sx-menu-link-pink:hover {
    color: white;
}

/**
 * Уведомления alert
 */

.alert p {
    margin-bottom: 0;
}

.alert-default {
    color: #53585e;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.alert-info {
    color: white;
    background-color: #1cc9e4;
    border-color: #1cc9e4;
}

/**
 * placeholders
 */
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: silver;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: silver;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color: silver;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: silver;
}

.chosen-default > span {
    color: silver;
}

.error-summary {
    color: red;
}

.comment .author {
    font-weight: normal;
}

.u-btn-green {
    color: #fff;
    background-color: green;
}

/*.comment .reply-button {
    display: none;
}

.comment:hover .reply-button {
    display: block;
}*/
.comment .avatar img, .comment-form .avatar img, .sub-comments .avatar img, .sub-comments .comment-form .avatar img {
    border: 0;
    background: #f6f8f9;
    border-radius: 50%;
}

.u-side-nav-mini .sx-left-block-workers {
    display: none;
}

.sx-left-block-workers-list {
    font-size: 12px;
}

.sx-left-block-workers .sx-show-workers {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-left-block-workers .sx-show-workers:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-left-block-workers .sx-left-block-workers-list-hide {
    display: none;
}

.u-side-nav-mini .sx-schedule-left-block {
    display: none;
}

.sx-schedule-left-block .sx-total-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-schedule-left-block .sx-total-link:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.sx-schedule-left-block .error-summary {
    color: red;
}

.sx-schedule-left-block .sx-schedule-times {
    line-height: 12px;
    display: none;
}

.sx-fa-play {
    color: green;
}

.sx-fa-stop {
    color: #e62154;
}

.sx-fa-pause {
    color: orange;
}

/**
 * Превью карточка общая
 */
.sx-preview-card img.sx-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
}

.sx-preview-card img.sx-photo.sx-img-size-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.sx-preview-card .sx-no-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: white;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid
}

.sx-preview-card .sx-no-photo.sx-img-size-50 {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

/**
 * Превью карточка сотрудника
 */
.sx-worker-card img.sx-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
}

.sx-worker-card img.sx-photo.sx-img-size-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/**
 * Починка CKEditor
 */
.cke_reset [aria-labelledby],
.cke_reset[aria-labelledby],
.cke_reset_all[aria-labelledby],
.cke_reset_all [aria-labelledby] {
    opacity: inherit;
}

[aria-labelledby] {
    opacity: inherit;
}

/**
 * Оформление карточки задачи
 */
.sx-task-description {
    max-height: 600px;
    overflow: auto;
    margin-bottom: 10px;
}

/**
 *
 */
.sx-empty header.u-header,
.sx-empty #sideNav,
.sx-empty .sx-hide-on-empty,
.sx-empty footer,
.sx-empty .sx-footer {
    display: none;
}

.sx-empty main {
    padding-top: 0px !important;
}

.sx-empty .sx-main-col {
    padding-bottom: 0px !important;
}

.g-bg-in-work {
    background-color: #bbf3bb !important;
}

.sx-icon-wrapper {
    width: 17px;
    /* min-width: 20px; */
    display: inline-block;
    text-align: center;
}

.u-side-nav--has-sub-menu ul {
    display: none;
}

.u-side-nav--has-sub-menu ul li a {
    /*line-height: 15px;*/
    white-space: nowrap;
    overflow: hidden;
}

.u-side-nav--third-level-menu {
    padding-left: 1.5rem;
}

.u-sidebar-navigation--light .u-side-nav--third-level-menu-link.active {
    color: #e62154;
}

form .error-summary {
    background: #ffe7e7;
    margin-top: 10px;
    padding: 10px;
}

form .error-summary p {
    color: red;
}

form .has-error .help-block {
    color: red;
}

form .sx-from-required {
    color: red;
}

/**
 * Оформление комментариев
 */
.comment .comment-text, .comment-form-reply {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.comment-form .comment-fields-more {
    margin-top: 10px;
}


/**
 * Fancybox rewrite
 */
.fancybox-slide--iframe {
    padding: 0;
}

.fancybox-slide--iframe .fancybox-content {
    /*width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;*/
    /*max-width: calc(100% - 70px);*/
    max-width: 1300px;
    min-width: 500px;
    width: calc(100% - 10px) !important;
    overflow: hidden;
    margin: 0;
    max-height: 100%;
    float: right;
    background: transparent;
}

.fancybox-slide--iframe .fancybox-iframe {
    left: 41px;
    width: calc(100% - 41px);
    background: white;
}


@media (max-width: 768px) {
    .fancybox-slide--iframe .fancybox-content {
        max-width: calc(100% - 20px);
    }

}

/* Custom animation */
/*.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: translateX(-100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateX(0);
}*/
.fancybox-fx-slide-in-out.fancybox-slide--previous {
    transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
    transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
    transform: translateX(0);
}

.fancybox-slide--iframe .fancybox-close-small {
    left: -3px;
    top: 0;
    background: #000000a8;
    background: white;
    color: black;
    opacity: 1;
    outline: none;
}

.fancybox-slide--iframe .fancybox-close-small:after {
    color: black;
}
.fancybox-slide--iframe .fancybox-close-small:hover {
    color: black;
}

.fancybox-slide--iframe .fancybox-close-small:hover:after {
    color: black;
}

.sx-bg-primary {
    background: #f5f9f9;
}

.sx-form-tab-panel .nav-tabs .nav-link.active {
    background: #f5f9f9;
}

.u-sidebar-navigation--light .has-active {
    background-color: #8484841a;
}

iframe {
    border: 0;
}

.u-header__section--admin-dark .u-header-logo-toggler {
    background: transparent;
}

.blockUI img {
    margin-left: -40%;
}


.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background-color: #e62154;
    border-color: #e62154;
}


.btn-primary:hover, .btn-secondary:hover,
.btn-primary:active, .btn-secondary:active,
.btn-primary:focus, .btn-secondary:focus
{
    color: white;
}


.sx-btn-backend-header a:hover {
    color: white;
}

.sx-header-user-profile [data-dropdown-target] {
    color: #8294b9;
    /* opacity: 0.5; */
}

.sx-header-user-profile a .sx-avatar {
    opacity: 0.8;
}

.sx-header-user-profile a:hover .sx-avatar {
    opacity: 1;
}

.u-header__section--admin-dark [aria-labelledby] a:hover {
    color: white;
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.sx-progress-bar-wrapper {
    height: 12px;
}


/**
 * Кастомные checkbox
 */
/*
.sx-custom-checkbox
{
    margin: 0 0 12px;
    position: relative;
    margin-top: 0 !important;
}

.sx-custom-checkbox input[type=checkbox],
.sx-backend-form input[type=checkbox]
{
    position: absolute;
    visibility: hidden;
}


.sx-custom-checkbox input[type=checkbox]:checked + label
{
    font-weight: 600;
}


.sx-custom-checkbox label,
.sx-backend-form .form-check label,
.sx-backend-form .custom-radio label,
.sx-backend-form .custom-checkbox label
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 14px;
    padding: 0 0 0 26px;
    font-size: 1.083333em;
    cursor: pointer;
}

.sx-custom-checkbox label:before,
.sx-backend-form label:before
{
    display: block;
    left: 0;
    top: 0;
}

.sx-custom-checkbox input[type=checkbox] + label:before,
.sx-backend-form input[type=checkbox] + label:before
{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 15px;
    height: 15px;

    background-color: white;
    border: 1px solid #ddd;

    content: '';
    position: absolute;
}

.sx-custom-checkbox input[type=checkbox]:checked + label:before,
.sx-backend-form input[type=checkbox]:checked + label:before
{
    background: url(../img/no-bg-check.png) 50% 50% no-repeat #fff;
    background-color: #87c451;
    border-color: #87c451;
}*/




.sx-content-wrapper, .sx-breadcrumbs-wrapper {
    padding: 10px 15px;
}

/**
 * Стандартный серый фон
 */
.sx-bg-gray-light {
    background-color: #f5f9f9;
}

/**
 * Стилизация хлебных крошек
 */
.sx-main-col .sx-breadcrumbs-wrapper a {
    color: #53585e;
}

.sx-breadcrumbs-wrapper a {
    color: #53585e;
}

.sx-breadcrumbs-wrapper li.sx-breadcrumbs-item {
    margin-right: 10px;
}

.sx-breadcrumbs-wrapper li.sx-breadcrumbs-item i {
    margin-left: 10px;
}


/**
 * Хлебные крошки в шапке
 */
.u-header__section--admin-dark .sx-breadcrumbs-wrapper a {
    color: #6b7996;
}
.u-header__section--admin-dark .sx-breadcrumbs-wrapper a:hover {
    color: white;
}
.u-header__section--admin-dark .sx-breadcrumbs-wrapper i {
    color: #6b7996;
}


.select2-container--krajee-bs4 .select2-selection__clear {
    line-height: normal;
}

.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice__remove {
    font-size: inherit;
    line-height: normal;
}

.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice {
    padding: 0.05rem 0.25rem 0.05rem 0.25rem;
}




.sx-shadow--hover:hover {
    box-shadow: 1px 1px 6px -2px silver;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}