.u-sidebar-navigation--light a {
    color: black;
}

.u-sidebar-navigation--light .has-active > a {
    color: black;
}
.u-header__section--admin-light a {
    color: black;
}


.u-header-logo-toggler .navbar-brand img {
    max-height: 50px;
    margin-top: auto;
    max-width: 187px;
    /*width: 100%;
    height: 100%;*/
    margin-bottom: auto;
    min-height: 25px;
}

.u-header-logo-toggler .navbar-brand {
    line-height: 60px;
}

.sx-now-hide {
    display: none !important;
}

.u-sidebar-navigation--light .u-side-nav--has-sub-menu.u-side-nav-opened {
    background-color: #efefef;
}

.u-sidebar-navigation--light .u-side-nav--second-level-menu-link.active,
.u-sidebar-navigation--light .u-side-nav--second-level-menu-link.active i,
.u-sidebar-navigation--light .has-active > a,
.u-sidebar-navigation--light .has-active > a i
{
    color: #e62154;
}


/**
 * dark theme rewrite
 */
.u-header__section--admin-dark {
    background-color: #1d1d1d;
    color: #fff;
}
.u-sidebar-navigation--dark {
    background-color: #272727;
}
.u-header__section--admin-dark .u-header-logo-toggler {
    background-color: #1d1d1d;
}

.u-header__section--admin-dark .u-header-logo-toggler .navbar-brand
{
    color: white;
    max-width: 187px;
    overflow: hidden;
}

.u-sidebar-navigation--dark .u-side-nav--has-sub-menu.u-side-nav-opened {
    background-color: #313131;
}

.u-sidebar-navigation--dark .u-side-nav--top-level-menu-link i {
    color: white;
}

.u-sidebar-navigation--dark .u-side-nav--second-level-menu-link i {
    color: white;
}

.u-header__section--admin-dark [aria-labelledby] {
    background-color: #1d1d1d;
    color: #d4dade;
}

.u-header__section--admin-dark [aria-labelledby] i {
    color: white;
}



.btn-default {
    /*background: #efefef;*/
    background: transparent !important;
    color: #262626;
    border: 1px solid #C2C2C2;
}