body {
    background: url('../img/bg/bg_cms.jpg') center fixed;
    background-size: cover;
}

.sx-bg-auth {
    background: #0000008c;
}

.sx-bg-auth {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover,
a:visited,
a:active
{
    color: white;
    text-decoration: underline;
}
.btn {
    padding: 10px;
}

.btn-default {
    background: #40404070;
    border-color: none;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.btn-default:focus,
.btn-default:active,
.btn-default:hover
{
    background: #e81c62 !important;
    color: white;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover
{
    background: #e81c62 !important;
    opacity: 0.8;
}
.u-btn-primary, .btn-primary {
    background-color: #e81c62;
}
.u-btn-primary:hover, .btn-primary:hover {
    background-color: #fe075c;
}
.u-btn-primary:hover, .btn-primary:hover {
    border-color: #fe075c;
}

::selection {
    background: #e81c62;
}


.sx-bg-auth .has-error .help-block {
    color: #e81c62;
}


.blockUI img {
    margin-left: -40%;
}