.form-control::placeholder {
    color: inherit;
    opacity: .5;
}


@media (max-width: 450px) {
    .pagination {
        display: block;
    }

    .page-item {
        float: left;
        width: 38px;
    }
}


/**
 * Кастомизация радиокнопок
 */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    /*position: absolute;
    left: -9999px;*/
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    /*line-height: 20px;*/
    display: inline-block;
    /*color: #666;*/
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    box-shadow: none;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #F87DA9;
    position: absolute;
    top: 8px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.sx-project-form-wrapper .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}


/**
 * Кастомные checkbox
 */
.checkbox {
    margin: 0 0 12px;
    /*margin: 0 0 5px; */
    position: relative;
    margin-top: 0 !important;
}

.checkbox input[type=checkbox],
.sx-project-form-wrapper input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}


.checkbox input[type=checkbox]:checked + label {
    font-weight: 600;
}

.sx-filters-form .checkbox label {
    line-height: 14px;
}

.checkbox label,
.sx-project-form-wrapper .form-check label,
.sx-project-form-wrapper .custom-radio label,
.sx-project-form-wrapper .custom-checkbox label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    /*line-height: 14px;*/
    padding: 0 0 0 26px;
    font-size: 1.083333em;
    cursor: pointer;
}

.checkbox label:before,
.sx-project-form-wrapper label:before {
    display: block;
    left: 0;
    top: 0;
}

.checkbox input[type=checkbox] + label:before,
.sx-project-form-wrapper input[type=checkbox] + label:before {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 15px;
    height: 15px;

    background-color: white;
    border: 1px solid #ddd;

    content: '';
    position: absolute;

    top: 3px;
}

.checkbox input[type=checkbox]:checked + label:before,
.sx-project-form-wrapper input[type=checkbox]:checked + label:before {
    background: url(../img/no-bg-check.png) 50% 50% no-repeat #fff;
    background-color: #87c451;
    border-color: #87c451;
}


/**
 * Кастомизация форм
 */

.sx-project-form-wrapper .form-check,
.sx-project-form-wrapper .custom-checkbox,
.sx-project-form-wrapper .custom-radio {
    padding-left: 0;
}


/**
 * Для контента страниц
 */
.sx-content {
    font-size: 16px;
}

.sx-content img {
    max-width: 100%;
    height: auto !important;
}


/**
 * Просто общие вещи
 */
a.sx-dashed {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.sx-dashed:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}


.alert-danger {
    color: red;
}

.g-bg-primary {
    background: linear-gradient(150deg, #6b86c9, rgba(51, 152, 220, 1));
}


.linkCursor {
    cursor: pointer;
}

.has-error .help-block {
    color: red;
}

/*
body {
    padding-top: 116px;
}
*/


/**
 * Маленькие подкатегории
 */

.sx-category-list-small li:hover img {
    opacity: 0.9;
}

.sx-category-list-small img {
    width: 100%;
    aspect-ratio: 1;
}


/**
 * Хлебные крошки
 */
.sx-body-begin-image-wrapper .sx-breadcrumbs-wrapper a {
    color: rgba(255, 255, 255, 0.8) !important;
}

.sx-breadcrumbs-wrapper i {
    font-size: 10px;
    margin-left: 7px;
}

.sx-breadcrumbs-wrapper .list-inline-item {
    margin-right: 7px;
}

.sx-breadcrumbs-wrapper .list-inline-item span.sx-last {
    opacity: 0.6;
}



/**
 * оформление списка новостей
 */
.sx-news-list-item {
    margin-bottom: 30px;
}
.sx-news-list-title-wrapper {
    margin-bottom: 15px;
    font-weight: 600;
}
.sx-news-list-description {
    font-size: 16px;
}

.sx-news-list-img-wrapper {
    margin-bottom: 20px;
}

.sx-news-item-short-info {
    font-size: 12px;
    margin-bottom: 0px;
    opacity: 0.8;
}

.sx-list-short-info {
    background: #fafafa;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
}





.sx-caption-wrapper {
    overflow: hidden;
    padding-bottom: 5px;
    margin-top: 5px;
}


.form-control:focus {
    outline: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    border-color: #eee;
    /*padding: 10px;*/
    height: auto;
}

.error-summary {
    background: #ff3e17;
    padding: 10px;
    color: white;
    margin-top: 20px;
}


/* Поисковый блок, выезжающий в шапке */
.sx-invisible-search-block {
    top: -120px;
    position: absolute;
    width: 500px;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 15px;
    border-top: 2px solid #000;
}


@media (max-width: 1024px) {
    .h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
        line-height: 1.4;
    }

    .h1, h1 {
        font-size: 2rem;
    }

    .h2, h2 {
        font-size: 1.75rem;
    }

}

/* Уменьшаем размер шрифта для мобилльной версии  */
@media (max-width: 768px) {
    .h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
        line-height: 1.3;
    }

    .h1, h1 {
        font-size: 1.5rem;
    }

    .h2, h2 {
        font-size: 1.4rem;
    }

    .h3, h3 {
        font-size: 1.3rem;
    }

    .h4, h4 {
        font-size: 1.2rem;
    }

    .h5, h5 {
        font-size: 1.1rem;
    }

}

/*.u-btn-primary, a.g-bg-primary {
    color: #fff !important;
}*/

.sx-head-short-description {
    overflow: hidden;
    max-height: 56px;
}


.sx-breadcrumbs-h1 {
    font-weight: 600;
    line-height: 1.1;
}

.sx-subcatalog-title {
    font-weight: 700;
    line-height: 1.1;
}

.sx-main-text-color {
    color: #333;
}

.sx-col-left-title-wrapper {
    margin-bottom: 10px;
}

.sx-col-left-title {
    font-weight: 600;
    /*text-transform: uppercase;*/
}
.sx-col-left-news .sx-news-item {
    margin-bottom: 10px;
}

.sx-col-left-news .sx-news-img-wrapper {
    margin-right: 15px;
}
.sx-col-left-news .sx-date-info {
    font-size: 12px;
}


.sx-col-left-block {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.sx-col-menu li {
    margin-bottom: 10px;
    line-height: 1.2;
}

.sx-col-menu li:last-child {
    margin-bottom: 0px;
}

/*.hamburger {
    padding: 5px !important;
}*/


@media (max-width: 766px) {
    .sx-content-col-left {
        position: absolute;
        left: -100000px;
    }
}

.sx-content-col-main {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

.sx-content-col-left {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Button Styles
------------------------------------*/
/* General Button Styles */
.btn {
    position: relative;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
    border: 0;
}

.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus, .btn-primary:focus, .btn-primary.focus {
    outline: 0 none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus, .btn-primary.focus, .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: none;
}

.btn-default {
    background: #fafafa;
    border-color: #e6e6e6;
}

.btn-default:hover {
    background: #f5f5f5;
}


/* Button Sizes
------------------------------------*/
/* Extra Small */
.btn-xs {
    line-height: 1.4;
    padding: 0.14286rem 0.5rem;
    font-size: 0.78571rem;
}

/* Medium */
.btn-md {
    line-height: 1.4;
    padding: 0.57143rem 1.42857rem;
    font-size: 1.07143rem;
}

/* Extra Large */
.btn-xl {
    line-height: 1.4;
    padding: 0.92857rem 1.85714rem;
    font-size: 1.28571rem;
}

/* Extramly Large */
.btn-xxl {
    line-height: 1.4;
    padding: 1.07143rem 2.14286rem;
    font-size: 1.5rem;
}


/*
.sx-btn-white {
  color: #555;
  background-color: #fff;
}

.sx-btn-white:hover, .sx-btn-white.active {
  border-color: white;
  background-color: white;
}

.sx-btn-white:hover, .sx-btn-white:focus, .sx-btn-white.active {
  color: #555;
}
*/


/**
 * Небольшая достилизация таблиц
 */
.dropdown-item:focus, .dropdown-item:hover {
    background: rgba(0, 0, 0, 0.03);
}

.dropdown-item.active, .dropdown-item:active {
    background: rgba(0, 0, 0, 0.05);
    color: inherit !important;
}


/**
 * Небольшая достилизация таблиц
 */
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #f7f7f7;
}

.table-striped tbody td {
    border-top: none;
}


/*------------------------------------
  Covers
------------------------------------*/
.u-bg-overlay {
    position: relative;
}

.u-bg-overlay::before, .u-bg-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.u-bg-overlay--v1::after {
    position: absolute;
    top: 0.35714rem;
    right: 0.35714rem;
    bottom: 0.35714rem;
    left: 0.35714rem;
}

.u-bg-overlay__inner {
    z-index: 3;
    position: relative;
}

.u-bg-overlay--reverse::before {
    z-index: 2;
}

.u-bg-overlay--reverse::after {
    z-index: 1;
}


/**
 * Base colors
 */
.sx-color-white {
    color: white;
}

.sx-color-silver {
    color: silver;
}


.dropdown-toggle::before, .sx-icon-arrow-down--after::before {
    display: none;
}

.dropdown-toggle::after, .sx-icon-arrow-down--after::after {
    content: "\e900";
    vertical-align: .255em;
    position: relative;
    top: 0.21429rem;
    font-family: "hs-icons" !important;
    font-size: 10px;
    display: inline;
    border: none;
    margin-left: 0.5rem;
}

/**
 * Для мобильной версии
 */
@media (max-width: 768px) {
    .sx-content-col-main {
        padding-top: 5px;
        /*padding-left: 10px;
        padding-right: 10px;*/
        width: 100%;
    }

    .sx-breadcrumbs-wrapper .list-inline {
        overflow-x: auto;
        white-space: nowrap;
    }

    .sx-breadcrumbs-h1 {
        line-height: 1;
    }

    sx-product-card .sx-product-card--info {
        padding: 0 5px 10px 5px;
    }
}


.g-pos-fix {
  position: fixed !important;
}

.g-m-reset {
  margin: 0 !important;
}


/**
 * Кастомизация кнопок
 */
.btn-primary:focus, .btn-primary.focus, .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
}