/*------------------------------------
  Fonts
------------------------------------*/
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

/**
 * Unify custom css
 */
.navbar-brand .sx-logo-text{
    bottom: 7px;
    /*letter-spacing: 3px;*/
    font-size: 23px;
    position: absolute;
    left: 58px;
}

.navbar-brand img {
    height: 39px;
}
@media (max-width: 450px) {
    .pagination {
        display: block;
    }
    .page-item {
        float: left;
        width: 38px;
    }
}





/**
 * Кастомизация радиокнопок
 */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    /*position: absolute;
    left: -9999px;*/
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    box-shadow: none;
}
.custom-control-input:checked~.custom-control-label::before {
    box-shadow: none;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #F87DA9;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.sx-project-form-wrapper .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
}

/**
 * Кастомные checkbox
 */
.checkbox
{
    margin: 0 0 12px;
    /*margin: 0 0 5px; */
    position: relative;
    margin-top: 0 !important;
}

.checkbox input[type=checkbox],
.sx-project-form-wrapper input[type=checkbox]
{
    position: absolute;
    visibility: hidden;
}


.checkbox input[type=checkbox]:checked + label
{
    font-weight: 600;
}


.checkbox label,
.sx-project-form-wrapper .form-check label,
.sx-project-form-wrapper .custom-radio label,
.sx-project-form-wrapper .custom-checkbox label
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 14px;
    padding: 0 0 0 26px;
    font-size: 1.083333em;
    cursor: pointer;
}

.checkbox label:before,
.sx-project-form-wrapper label:before
{
    display: block;
    left: 0;
    top: 0;
}

.checkbox input[type=checkbox] + label:before,
.sx-project-form-wrapper input[type=checkbox] + label:before
{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 15px;
    height: 15px;

    background-color: white;
    border: 1px solid #ddd;

    content: '';
    position: absolute;
}

.checkbox input[type=checkbox]:checked + label:before,
.sx-project-form-wrapper input[type=checkbox]:checked + label:before
{
    background: url(../img/no-bg-check.png) 50% 50% no-repeat #fff;
    background-color: #87c451;
    border-color: #87c451;
}





/**
 * Кастомизация форм
 */

.sx-project-form-wrapper .form-check,
.sx-project-form-wrapper .custom-checkbox,
.sx-project-form-wrapper .custom-radio
{
    padding-left: 0;
}



.sx-content {
    font-size: 16px;
}
.sx-content img {
    max-width: 100%;
}



/**
 * Просто общие вещи
 */
a.sx-dashed {
    text-decoration: none;
    border-bottom: 1px dashed;
}
a.sx-dashed:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}




.alert-danger {
    color: red;
}

.g-bg-primary {
    background: linear-gradient(150deg, #6b86c9, rgba(51, 152, 220, 1));
}


.linkCursor {
    cursor: pointer;
}

.has-error .help-block {
    color: red;
}

/*
body {
    padding-top: 116px;
}
*/



/**
 * Маленькие подкатегории
 */

.sx-category-list-small img{
    /*max-width: 120px;
    max-height: 100px;*/
    height: 100px;
}



.sx-main-logo img {
    max-height: 86px;
}


.sx-body-begin-image-wrapper .sx-breadcrumbs-wrapper a {
    color: rgba(255, 255, 255, 0.8) !important;
}

.sx-list-short-info {
    background: #fafafa;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
}


.sx-caption-wrapper {
    overflow: hidden;
}



.sx-menu-top {
    font-weight: 600;
    text-transform: uppercase;
}



.form-control
{
    border-color: #eee;
}
.form-control
{
    padding: 10px;
}

.error-summary {
    background: #ff3e17;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

.sx-main-menu ul {
    margin-left: 0 !important;
}
/* Поисковый блок, выезжающий в шапке */
.sx-invisible-search-block
{
    top: -120px; position: absolute; width: 500px;right:0;z-index: 1; background: #fff; padding: 15px;border-top: 2px solid #000;
}
/* Поисковый блок на мобильной версии */
@media (max-width: 768px) {
    .sx-search-form {
        background: #fff;
        padding: 15px;
        position: absolute;
        top: -100px;
        left:0;
        right:0;
        z-index: 1;
    }
}

.sx-main-menu-wrapper a.sx-search-btn, .sx-main-menu-wrapper .sx-cart-small-open-trigger, .sx-main-menu-wrapper .sx-login-block {
    font-size: 1.9rem !important;
}
@media (min-width: 1024px) {
    .sx-main-menu-wrapper a.sx-search-btn, .sx-main-menu-wrapper .sx-cart-small-open-trigger, .sx-main-menu-wrapper .sx-login-block {
        font-size: 1.4rem !important;
    }
}
/* Поднять меню на планшете */
@media (max-width: 1024px) AND (min-width: 768px) {
    .hamburger {
        padding-top: 0;
    }
}
/* Настройки меню */
html.mm-right .mm-menu.mm-fx-menu-slide {
    z-index: 502;
}

.mm-opened .u-header--sticky-top {
    position: relative !important;
}
.mm-opened .sx-header-sticky-margin {
    margin-top: 0 !important;
}
.hamburger {
    padding: 0;
}

@media (max-width: 1024px) {
    .h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
        line-height: 1.4;
    }
    .h1, h1 {
        font-size: 2rem;
    }
    .h2, h2 {
        font-size: 1.75rem;
    }

}
/* Уменьшаем размер шрифта для мобилльной версии  */
@media (max-width: 768px) {
    .h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
        line-height: 1.3;
    }
    .h1, h1 {
        font-size: 1.5rem;
    }
    .h2, h2 {
        font-size: 1.4rem;
    }
    .h3, h3 {
        font-size: 1.3rem;
    }
    .h4, h4 {
        font-size: 1.2rem;
    }
    .h5, h5 {
        font-size: 1.1rem;
    }

}
/* Правки для меню мобильной версии */
.mm-menu.mm-shadow-page:after {
    box-shadow: none !important;
}
#mm-blocker {
    z-index: 501 !important;
}
.u-btn-primary, a.g-bg-primary {
    color: #fff !important;
}




