/*------------------------------------
  Fonts
------------------------------------*/
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

/**
 * Unify custom css
 */
.navbar-brand .sx-logo-text{
    bottom: 7px;
    /*letter-spacing: 3px;*/
    font-size: 23px;
    position: absolute;
    left: 58px;
}

.navbar-brand img {
    height: 39px;
}
@media (max-width: 450px) {
    .pagination {
        display: block;
    }
    .page-item {
        float: left;
        width: 38px;
    }
}





/**
 * Кастомизация радиокнопок
 */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #F87DA9;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/**
 * Кастомные checkbox
 */
.checkbox
{
    margin: 0 0 12px;
    /*margin: 0 0 5px; */
    position: relative;
    margin-top: 0 !important;
}

.checkbox input[type=checkbox],
.sx-project-form-wrapper input[type=checkbox]
{
    position: absolute;
    visibility: hidden;
}


.checkbox input[type=checkbox]:checked + label
{
    font-weight: 600;
}


.checkbox label,
.sx-project-form-wrapper .form-check label
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 14px;
    padding: 0 0 0 26px;
    font-size: 1.083333em;
    cursor: pointer;
}

.checkbox label:before,
.sx-project-form-wrapper label:before
{
    display: block;
    left: 0;
    top: 0;
}

.checkbox input[type=checkbox] + label:before,
.sx-project-form-wrapper input[type=checkbox] + label:before
{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 15px;
    height: 15px;

    background-color: white;
    border: 1px solid #ddd;

    content: '';
    position: absolute;
}

.checkbox input[type=checkbox]:checked + label:before,
.sx-project-form-wrapper input[type=checkbox]:checked + label:before
{
    background: url(../img/no-bg-check.png) 50% 50% no-repeat #fff;
    background-color: #87c451;
    border-color: #87c451;
}





/**
 * Кастомизация форм
 */

.sx-project-form-wrapper .form-check {
    padding-left: 0;
}



.sx-content {
    font-size: 16px;
}
.sx-content img {
    max-width: 100%;
}



/**
 * Просто общие вещи
 */
a.sx-dashed {
    text-decoration: none;
    border-bottom: 1px dashed;
}
a.sx-dashed:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}




.alert-danger {
    color: red;
}

.g-bg-primary {
    background: linear-gradient(150deg, #6b86c9, rgba(51, 152, 220, 1));
}


.linkCursor {
    cursor: pointer;
}

.has-error .help-block {
    color: red;
}

/*
body {
    padding-top: 116px;
}
*/





/* ==========================================================================
   Sorting
   ========================================================================== */
.sorting {
    zoom: 1;
    *zoom: 1;
    font-size: 1.083333em;
    line-height: 22px;
    /*margin: 0 0 10px;*/
}

.sorting:before,
.sorting:after {
    content: " ";
    display: table;
}

.sorting:after {
    clear: both;
}

.sorting .sort {
    float: left;
    zoom: 1;
    *zoom: 1;
    overflow: hidden;
    min-width: 65%;
}

.sorting .sort:before,
.sorting .sort:after {
    content: " ";
    display: table;
}

.sorting .sort:after {
    clear: both;
}

.sorting .sort .lbl,
.sorting .sort .vals {
    float: left;
    zoom: 1;
    *zoom: 1;
}

.sorting .sort .lbl:before,
.sorting .sort .vals:before,
.sorting .sort .lbl:after,
.sorting .sort .vals:after {
    content: " ";
    display: table;
}

.sorting .sort .lbl:after,
.sorting .sort .vals:after {
    clear: both;
}

.sorting .sort .vals a:hover {
    text-decoration: none;
}

.sorting .sort .vals a {
    float: left;
    margin: 3px 9px;
    line-height: 16px;
    color: #131313;
    border-bottom: dashed 1px #8a8a8a;
    position: relative;
    white-space: nowrap;
    font-size: 13px;
}

.sorting .sort .vals a:before {
    content: '';
    display: block;
    height: 10px;
    width: 0;
    border-left: solid 2px #dfdfdf;
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -5px;
}

.sorting .sort .vals a:first-child:before {
    display: none;
}

.sorting .sort .vals a:hover {
    color: #ed1b24;
}

.sorting .sort .vals a.active {
    font-weight: 700;
    color: #ed1b24;
}

.sorting .sort .vals a.active:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #ed1b24 transparent transparent transparent;
}

.sorting .sort .vals a.active.up:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sorting .in-stock {
    float: right;
    margin-top: 4px !important;
}

.sorting .in-stock label {
    font-weight: 400 !important;
    font-size: 13px !important;
}

@media (max-width: 767px) {
    .sorting .sort,
    .sorting .in-stock {
        float: none;
    }
}
@media (max-width: 450px) {
    .sx-category-list-small img {
        max-width: 100%;
    }
}

/**
 * Маленькие подкатегории
 */

.sx-category-list-small img{
    /*max-width: 120px;
    max-height: 100px;*/
    height: 100px;
}



.sx-main-logo img {
    max-height: 86px;
}


.sx-body-begin-image-wrapper .sx-breadcrumbs-wrapper a {
    color: rgba(255, 255, 255, 0.8) !important;
}

.sx-list-short-info {
    background: #fafafa;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
}


.sx-caption-wrapper {
    overflow: hidden;
}



.sx-menu-top {
    font-weight: 600;
    text-transform: uppercase;
}



.form-control
{
    border-color: #eee;
}
.form-control
{
    padding: 15px;
}

.error-summary {
    background: #ff3e17;
    padding: 10px;
    color: white;
    margin-top: 20px;
}
