
.filter--group {
    border-top: solid 1px #f1f1f1;
}

.filter--group.opened .filter--group--header {
    font-weight: 600;
}

.filter--group .filter--group--header {
    position: relative;
    padding: 15px 32px 15px 15px;
    /*font-weight: 700;
    text-transform: uppercase;*/
    cursor: pointer;
}

.filter--group .checkbox input[type=checkbox]:checked + label {
    font-weight: normal;
}

.filter--group .filter--group--header:before {
    content: '';
    display: block;
    width: 13px;
    height: 7px;
    position: absolute;
    right: 14px;
    /*top: 50%;*/
    margin-top: 0px;
    /*background: url('../images/angle-down.png') no-repeat 50% 50%;*/
    top: 16px;
    content: "\e900";
    font-family: "hs-icons" !important;
    font-weight: normal;
    color: silver;
}

.filter--group .filter--group--body {
    display: none;
    padding: 0 15px 0 15px;
}

.filter--group .filter--group--inner {
    /*padding: 0 10px 0 10px;*/
}

.filter--group .filter--hidden {
    display: none;
}

.filter--group .filter--show-more {
    font-size: 14px;
    padding: 0 0 10px;
}

.filter--group .filter--show-more a {
    border-bottom: 1px dashed;
}

.filter--group .filter--show-more a:hover {
    text-decoration: none;
}

.filter--group.opened .filter--group--header:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 26px;
}

.filter--group.opened .filter--group--body {
    display: block;
}

.side-section {
    margin: 0 0 35px;
}

.side-section .side-section--header {
    padding: 0 0 20px 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.side-section .side-section--body {
    padding: 0 0 0 35px;
}

.filter-search__input {
    padding-right: 0px;
    margin-bottom: 15px;
}

.sx-filters-block .sx-filters-block-header {
    padding: 0px 15px;
}

.sx-product-filter-wrapper {
    border-bottom: 1px solid silver;
}

.sx-product-filter-wrapper .form-group > label {
    text-transform: uppercase;
}

.sx-product-filter-wrapper .form-group label {
    display: block;
}

.sx-product-filter-wrapper .sx-product-filter-checkbox-wrapper {
    max-height: 150px;
}

.sx-hidden-filters {
    display: none;
}


.sx-product-filter-wrapper {
    border-bottom: 1px solid #c0c0c085;
    margin-bottom: 5px;
}

.sx-product-filter-wrapper .form-group > label {
    text-transform: uppercase;
}

.sx-product-filter-wrapper .form-group label {
    display: block;
}

.sx-product-filter-wrapper .sx-product-filter-checkbox-wrapper {
    max-height: 150px;
    overflow-x: auto;
}


#sx-filters-form {
    display: none;
}

.sx-filter-selected {
    background: #fafafa;
    /*box-shadow: 0 1px 1px #ffe5d9;*/
}


.sx-filter-option-hidden {
    display: none;
}

.sx-filter-option-hidden.sx-filter-option-visible {
    display: block;
}

.sx-product-filters .checkbox input[type=checkbox] {
    margin-left: 0px;
    margin-top: 2px;
}

.sx-filters-tree, .sx-filters-tree ul {
    padding-left: 10px;
}

ul.sx-filters-tree li, .sx-filters-tree ul li {
    list-style: none;
}


.sx-product-filters .panel-default {
    border-color: #ddd;
    border-bottom: 0px;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 5px;
}

/* Фильтры для мобильной версии. Показываются по клику поверх всего содержимого окна.  */
/* Сортировка */
@media (max-width: 766px) {


    .sx-filters-form .lbl {
        display: none;
    }

    .sorting.sx-filters-form {
        display: none;

    }
}

/* Блок фильтров */
.sx-btn-filter, .sx-mobile-filters-hide, .sx-btn-sort, .sx-mobile-filters-block {
    display: none;
}

.sx-mobile-filters-block {
    background: white;
    z-index: 3;
}

.sx-mobile-filters-block .sx-mobile-filters-block--inner  {
    margin: 10px 0;
}

@media (max-width: 766px) {
    .sx-filters-block {
        display: block;
        position: fixed;
        z-index: 600;
        width: 100%;
        background: white;
        height: 100%;
        padding: 10px 0px;
        left: -100%;
        top: 0;
        overflow: auto;
    }

    .sx-mobile-filters-hide {
        float: right;
    }

    .sx-btn-filter, .sx-mobile-filters-hide, .sx-btn-sort, .sx-mobile-filters-block {
        display: block;
    }

    .sx-btn-sort, .sx-btn-filter {
        border: 1px solid silver;
    }
}


.sort-slider__row {
    display: flex;
}

.sort-slider__devide {
    margin: 0 6px;
    min-width: 13px;
}


.sx-filters-form .form-control {
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(153, 153, 153, 0.35);
    letter-spacing: 0.2px;

    height: 30px;
    font-size: 12px;
    padding: 0 9px;
    width: 100%;
}

.sort-slider .form-control {
    height: 30px;
    color: #111;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    padding: 0 8px;
}

.sx-project-slider-skin .irs {
    height: 20px;
}

.sx-project-slider-skin .irs-bar, .sx-project-slider-skin .irs-bar-edge {
    top: 0px;
    height: 3px;
}

.sx-project-slider-skin .irs-slider {
    top: 0px;
}

.sx-project-slider-skin .irs-line {
    top: 0px;
    height: 3px;
}

.sx-project-slider-skin .irs-slider {
    width: 8px;
    height: 8px;
    margin-top: -7px;
}


.sx-filters-form .checkbox input[type=checkbox] + label:before {
    top: 0px;
}

.sx-filters-selected-wrapper i {
    font-size: 8px;
    margin-left: 3px;
}
.sx-filters-selected-wrapper i:hover {
    opacity: 0.5;
}

.sx-btn-sort-select, .sx-btn-sort-select:hover {
    border: 1px solid silver;
}


.sx-inline-filter {
    display: inline-block;
}

.sx-fast-filters-btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

/**
 * Горизонтальные фильтры в одну строку
 */
.sx-filters-form .dropdown-menu {
    min-width: 250px;
}
.sx-filters-block .dropdown-menu {
    padding: 10px;
}
.sx-inline-filter .filter--group .filter--group--body {
    display: block;
}
.sx-inline-filter .filter--group {
    border: 0px;
}
.sx-inline-filter .checkbox:last-child {
    margin-bottom: 0px;
}