/* ==========================================================================
   Filter
   ========================================================================== */
.filter {
  margin: 0 0 35px;
}
.filter .filter--header {
  zoom: 1;
  *zoom: 1;
  padding: 0 0 20px 14px;
}
.filter .filter--header:before,
.filter .filter--header:after {
  content: " ";
  display: table;
}
.filter .filter--header:after {
  clear: both;
}
.filter .filter--header h1,
.filter .filter--header h2,
.filter .filter--header h3,
.filter .filter--header h4,
.filter .filter--header h5,
.filter .filter--header h6 {
  float: left;
  line-height: 28px;
  margin: 0;
  font-weight: 700;
  font-size: 1.333333em;
  text-transform: uppercase;
}
.filter .filter--header .btn {
  float: right;
}
.filter .filter--action {
  padding: 0 25px 0 35px;
}
.filter .irs {
  margin-top: -2px;
}
.filter--group {
  border-top: solid 1px #dfdfdf;
}
.filter--group .filter--group--header {
  position: relative;
  padding: 20px 0 20px 35px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.filter--group .filter--group--header:before {
  content: '';
  display: block;
  width: 13px;
  height: 7px;
  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -4px;
  background: url('../images/angle-down.png') no-repeat 50% 50%;
}
.filter--group .filter--group--body {
  display: none;
  padding: 0 0 10px;
}
.filter--group .filter--group--inner {
  padding: 0 25px 0 35px;
}
.filter--group .filter--hidden {
  display: none;
}
.filter--group .filter--show-more {
  font-size: 14px;
  padding: 0 0 10px;
}
.filter--group .filter--show-more a {
  border-bottom: 1px dashed;
}
.filter--group .filter--show-more a:hover {
  text-decoration: none;
}
.filter--group.opened .filter--group--header:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter--group.opened .filter--group--body {
  display: block;
}
.side-section {
  margin: 0 0 35px;
}
.side-section .side-section--header {
  padding: 0 0 20px 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.side-section .side-section--body {
  padding: 0 0 0 35px;
}




.sx-product-filter-wrapper {
    border-bottom: 1px solid silver;
}

.sx-product-filter-wrapper .form-group > label {
    text-transform: uppercase;
}

.sx-product-filter-wrapper .form-group label {
    display: block;
}

.sx-product-filter-wrapper .sx-product-filter-checkbox-wrapper {
    max-height: 150px;
}

.sx-hidden-filters {
    display: none;
}


.sx-product-filter-wrapper {
    border-bottom: 1px solid #c0c0c085;
    margin-bottom: 5px;
}

.sx-product-filter-wrapper .form-group > label {
    text-transform: uppercase;
}

.sx-product-filter-wrapper .form-group label {
    display: block;
}

.sx-product-filter-wrapper .sx-product-filter-checkbox-wrapper {
    max-height: 150px;
    overflow-x: auto;
}


#sx-filters-form {
    display: none;
}

.sx-filter-selected {
    background: #fafafa;
    /*box-shadow: 0 1px 1px #ffe5d9;*/
}


.sx-filter-option-hidden {
    display: none;
}
.sx-filter-option-hidden.sx-filter-option-visible {
    display: block;
}

.sx-product-filters .checkbox input[type=checkbox]{
    margin-left: 0px;
    margin-top: 2px;
}

.sx-filters-tree, .sx-filters-tree ul {
    padding-left: 10px;
}
ul.sx-filters-tree li, .sx-filters-tree ul li {
    list-style: none;
}


.sx-product-filters .panel-default {
    border-color: #ddd;
    border-bottom: 0px;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 5px;
}



/* ==========================================================================
   Sorting
   ========================================================================== */
.sorting {
    zoom: 1;
    *zoom: 1;
    font-size: 1.083333em;
    line-height: 22px;
    /*margin: 0 0 10px;*/
}

.sorting:before,
.sorting:after {
    content: " ";
    display: table;
}

.sorting:after {
    clear: both;
}

.sorting .sort {
    float: left;
    zoom: 1;
    *zoom: 1;
    overflow: hidden;
    min-width: 65%;
}

.sorting .sort:before,
.sorting .sort:after {
    content: " ";
    display: table;
}

.sorting .sort:after {
    clear: both;
}

.sorting .sort .lbl,
.sorting .sort .vals {
    float: left;
    zoom: 1;
    *zoom: 1;
}

.sorting .sort .lbl:before,
.sorting .sort .vals:before,
.sorting .sort .lbl:after,
.sorting .sort .vals:after {
    content: " ";
    display: table;
}

.sorting .sort .lbl:after,
.sorting .sort .vals:after {
    clear: both;
}

.sorting .sort .vals a:hover {
    text-decoration: none;
}

.sorting .sort .vals a {
    float: left;
    margin: 3px 9px;
    line-height: 16px;
    color: #131313;
    border-bottom: dashed 1px #8a8a8a;
    position: relative;
    white-space: nowrap;
    font-size: 13px;
}

.sorting .sort .vals a:before {
    content: '';
    display: block;
    height: 10px;
    width: 0;
    border-left: solid 2px #dfdfdf;
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -5px;
}

.sorting .sort .vals a:first-child:before {
    display: none;
}

.sorting .sort .vals a:hover {
    color: #ed1b24;
}

.sorting .sort .vals a.active {
    font-weight: 700;
    color: #ed1b24;
}

.sorting .sort .vals a.active:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #ed1b24 transparent transparent transparent;
}

.sorting .sort .vals a.active.up:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sorting .in-stock {
    float: right;
    margin-top: 4px !important;
    margin-bottom: 0;
}

.sorting .in-stock label {
    font-weight: 400 !important;
    font-size: 13px !important;
}

@media (max-width: 767px) {
    .sorting .sort,
    .sorting .in-stock {
        float: none;
    }
}
@media (max-width: 450px) {
    .sx-category-list-small img {
        max-width: 100%;
    }
}


/* Фильтры для мобильной версии. Показываются по клику поверх всего содержимого окна.  */
/* Сортировка */
@media (max-width: 766px) {

    .sorting {
        border: 1px solid #000;
        position: absolute;
        left: 15px;
        right: 15px;
        background: #fff;
        z-index: 500;
    }
    .sx-filters-form .lbl {
        display: none;
    }
    .sorting.sx-filters-form {
        display: none;

    }
    .sorting .sx-filter-action, .sorting .sort .vals a {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        float: none;
    }
    .sorting .checkbox {
        padding-left: 10px;
    }
}
/* Блок фильтров */
.sx-btn-filter, .sx-mobile-filters-hide, .sx-btn-sort {
    display: none;
}

@media (max-width: 766px) {
    .sx-filters-block {
        display: block;
        position: fixed;
        z-index: 600;
        width: 100%;
        background: white;
        height: 100%;
        padding: 10px 20px;
        left: -100%;
        top: 0;
        overflow: auto;
    }

    .sx-mobile-filters-hide {
        float: right;
        font-size: 2rem;
        line-height: 1rem;
    }

    .sx-btn-filter, .sx-mobile-filters-hide, .sx-btn-sort {
        display: block;
    }

    .sx-btn-sort {
        border:1px solid #000; border-radius: 0;
    }
}
